*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}
.background{
  background-image: url(../product_card/img/background-dandelions.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-catalog{
  width: 1110px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.product-card{
  width: auto;
  height: auto;
  padding: 25px;
  margin: 22.5px auto;
  background-color: #F7F7FA;
  color:#515076;
}

.product-header{
  margin-top: 30px;
  margin-bottom: 15px;
  gap: 5px;
}

.product-compound{
  height: 87px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
  margin-bottom: 25px;
  line-height: 25px;
  list-style-type: circle;
}

.product-price{
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 70px;
  font-weight: normal;
  line-height: 78px;
  margin: 0;
  margin-top: 220px;
  margin-bottom: 110px;
  text-align: center;
  color: #515076;
}

.label-text{
  width: 171px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  color:#A5A3B9;
  text-transform: uppercase;
}

.product-name{
  font-size: 20px;
  width: auto;
  height: 27px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-description{
  font-size: 13px;
  line-height: 18px;
  width: 291px;
  height: 36px;
  font-weight: 400;
  font-style: normal;
}
.price-style{
  font-weight: normal;
}
